{{> menu }}

<h1>Reset password</h1>

<div style="margin-top:12px">
  {{> messages }}
  <form id="formResetRequest" onsubmit="event.preventDefault()">
    <div style="padding:1rem">
      <input type="text" name="username" placeholder="Username">
    </div>
    <div style="padding:1rem">
      <input type="button" value="Reset my password" onclick="onResetRequest(event)">
    </div>
  </form>
</div>

<script>
function resetPasswordRequestApi(username) {
  return new Promise(function(resolve, reject) {
    fetch('/api/auth/reset/' + username, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      mode: 'cors',
      cache: 'no-cache'
    })
      .then(function(res) {
        return res.json();
      })
      .then(function(data) {
        console.log('*[resetPasswordRequestApi response]', data);
        resolve(data);
      })
      .catch(function(err) {
        reject(err.message || 'Something went wrong');
      });
  });
}
function onResetRequest(event) {
  event.preventDefault();
  var username = document.querySelector('#formResetRequest input[name="username"]').value;
  username = username.trim();
  if (username) {
    resetPasswordRequestApi(username).then(function (result) {
      if (result) {
        document.getElementById('formResetRequest').style.display = 'none';
        showMessage('Password reset confirmation link sent to your email');
      } else {
        showError('Something went wrong');
      }
    }).catch(function (err) {
      showError(err);
    });
  } else {
    showError('Enter username');
  }
}
</script>

{{> footer }}
