{{> menu }}

<h1>Reset password</h1>

<div style="margin-top:12px">
  {{> messages }}
  <p id="in_progress_message">Checking confirmation link...</p>
  <form id="formReset" onsubmit="event.preventDefault()" style="display:none">
    <div style="padding:1rem">
      <input type="password" name="password" placeholder="New Password">
    </div>
    <div style="padding:1rem">
      <input type="password" name="password_confirm" placeholder="Confirm Password">
    </div>
    <div style="padding:1rem">
      <input type="button" value="Reset my password" onclick="onReset(event)">
    </div>
  </form>
</div>

<script>
var confirmationToken = '{{token}}';
function resetPasswordConfirmApi(token) {
  return new Promise(function(resolve, reject) {
    fetch('/api/auth/resetconfirm?token=' + token, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      },
      mode: 'cors',
      cache: 'no-cache'
    })
      .then(function(res) {
        return res.json();
      })
      .then(function(data) {
        console.log('*[resetPasswordConfirmApi response]', data);
        resolve(data);
      })
      .catch(function(err) {
        reject(err.message || 'Something went wrong');
      });
  });
}
function resetPasswordApi(token, password) {
  return new Promise(function(resolve, reject) {
    fetch('/api/auth/reset', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      mode: 'cors',
      cache: 'no-cache',
      body: JSON.stringify({'token': token, 'password': password})
    })
      .then(function(res) {
        return res.json();
      })
      .then(function(data) {
        console.log('*[resetPasswordApi response]', data);
        resolve(data);
      })
      .catch(function(err) {
        reject(err.message || 'Something went wrong');
      });
  });
}
function pageInit() {
  if (confirmationToken) {
    resetPasswordConfirmApi(confirmationToken).then(function(result) {
      console.log('result', result);
      if (result) {
        if (result.error) {
          showError(result.error);
        } else {
          document.getElementById('in_progress_message').style.display = 'none';
          document.getElementById('formReset').style.display = 'block';
        }
      } else {
        showError('Something went wrong');
      }
    }).catch(function (err) {
      showError(err);
    });
  }
}
function onReset(event) {
  event.preventDefault();
  var password = document.querySelector('#formReset input[name="password"]').value;
  password = username.trim();
  var password2 = document.querySelector('#formReset input[name="password_confirm"]').value;
  password2 = username2.trim();
  if (password) {
    if (password2) {
      if (password === password2) {
        resetPasswordApi(confirmationToken, password).then(function (result) {
          if (result) {
            if (result.error) {
              showError(result.error);
            } else {
              document.getElementById('formReset').style.display = 'none';
              showMessage('Password changed successfully');
            }
          } else {
            showError('Something went wrong');
          }
        }).catch(function (err) {
          showError(err);
        })
      } else {
        showError('Password confirmation not match');
      }
    } else {
      showError('Enter password confirmation');
    }
  } else {
    showError('Enter password');
  }
}
</script>

{{> footer }}
